body {
    font-family: Verdana;
}
article {
    width: 800px;
}
article header h1 {
    color: green;
}
article header p {
    background-color: red;
    color: white;
}
article figure {
    border: 3px solid black;
    width: 600px;
    padding: 5px;
}
article figure img {
    width: 100%;
}
